<nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top navbar-color shadow">
  <div class="container">
    <span class="navbar-brand">Demo</span>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-itemx">
          <a class="nav-link" [routerLink]="['dashboard']" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['product']" routerLinkActive="active">Product</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="main">
  <div class="container card {{ isLoginPage ? 'login-card' : ''}}">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="py-5 bg-dark main-footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
  </div>
</footer>